*{
  font-family:  Helvetica, Arial, sans-serif;
}
body{
  padding: 60px;
}
::-webkit-input-placeholder {
  color: lightgray;
}
input{
  font-size: 1.2rem;
  color: gray;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;

}

input:focus{
  outline: none;
  border-color: aqua;
  box-shadow: 0 0 .3em 0.01em #00c3ff;
  
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.card{
  align-content: center;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;

}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}